asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Deprecated
dj-rest-auth
Django
django-allauth
django-cors-headers
django-oauth-toolkit
django-rest-framework
djangorestframework
djangorestframework-simplejwt
drf-social-oauth2
ecdsa
idna
jwcrypto
oauthlib
pyasn1
pycparser
PyJWT
python-decouple
python-jose
python3-openid
pytz
requests
requests-oauthlib
rsa
six
social-auth-app-django
social-auth-core
sqlparse
urllib3
wrapt